<h1>Edit Account</h1>
<form [formGroup]="profileForm" (ngSubmit)="submitting$.next(true)">
  <div class="flex gap-5 flex-wrap items-start">
    <app-image-upload
      (fileSelected)="avatarFile.setValue($event)"
      [avatarUrl]="avatarUrl.value"
    ></app-image-upload>
    <div class="grow">
      <mat-form-field class="w-full">
        <mat-label for="fullName">Full Name</mat-label>
        <input
          matInput
          type="text"
          [formControl]="fullName"
          id="fullName"
          required
        />
        @if (fullName.errors?.['required']) {
        <mat-error>Full Name is required. </mat-error>
        } @if (fullName.errors?.['maxlength']) {
        <mat-error
          >Names cannot be more than 255 characters. You are currently at
          {{ fullName.value?.length }}</mat-error
        >
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label for="bio">Bio</mat-label>
        <textarea matInput [formControl]="bio" id="bio"></textarea>
        @if (bio.errors?.['maxlength']) {
        <mat-error
          >Bios cannot be more than 4000 characters. You are currently at
          {{ bio.value.length }}</mat-error
        >
        }
      </mat-form-field>
    </div>
  </div>
  <div class="flex w-full justify-end">
    <button mat-raised-button color="primary" type="submit" class="mt-4">
      <mat-icon>save</mat-icon>
      SAVE CHANGES
    </button>
  </div>
</form>
