<div class="pb-4">
  <mat-toolbar id="navbar" color="primary">
    <div class="flex w-full justify-between items-center">
      <a mat-button routerLink="/home">Azuki</a>
      <div class="flex gap-2 items-center">
        <span>{{ username() }}</span>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Account button"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
</div>
<mat-menu #menu>
  @if(loggedIn()){
  <button mat-menu-item routerLink="/account">
    <mat-icon>person</mat-icon>
    <span>Account Details</span>
  </button>
  <button mat-menu-item (click)="logOut()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
  } @else {
  <button mat-menu-item routerLink="/log-in">
    <mat-icon>login</mat-icon>
    <span>Log In</span>
  </button>
  }
</mat-menu>
