<div class="flex flex-col gap-5 items-center">
  <div class="flex justify-around items-center content-center image-icon-size">
    @if(!imageExists()){
    <mat-icon class="image-icon-size">account_circle</mat-icon>
    } @else if(loading()) {
    <mat-spinner></mat-spinner>
    }
    <img
      #filePreview
      [ngClass]="imageExists() && !loading() ? '' : 'hidden'"
      alt="avatar preview"
      class="clip-path-circle"
      width="250px"
      (load)="loading.set(false)"
    />
  </div>
  <div class="flex gap-3">
    @if(avatarUrl.length > 0){
    <button mat-button color="warn" type="button" (click)="deleteImage()">
      DELETE
    </button>
    }
    <button
      mat-stroked-button
      color="accent"
      type="button"
      (click)="fileInput.click()"
    >
      {{ label }}
    </button>
  </div>
</div>
<input
  #fileInput
  hidden
  (change)="fileUploaded($event)"
  type="file"
  placeholder="Upload a file"
  id="imgInput"
  accept="image/png, image/jpeg"
/>
