<h1>Create an account</h1>
<form [formGroup]="signupForm" (ngSubmit)="signingUp$.next(true)">
    <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" class="w-full" [formControl]="email" id="email" required />
        @if (email.errors?.['required']) {
        <mat-error> Email is required. </mat-error>
        } @if (email.errors?.['email']) {
        <mat-error> Email must be a valid email.</mat-error>
        }
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" class="w-full" type="password" [formControl]="password" id="password" required/>
        @if (password.errors?.['required']) {
            <mat-error> Password is required. </mat-error>
        }
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="mt-4">
        SIGN UP
    </button>
</form>