.justify-end {
  justify-content: end !important;
}

:host {
  --dialog-height: 80vh;
  --dialog-width: 80vw;
}

.dialog-content {
  height: var(--dialog-height);
  width: var(--dialog-width);
  overflow-x: hidden;
  padding: 0;
  position: relative;
  transition: right 1s;
}

.dialog-content > * {
  position: absolute;
  width: var(--dialog-width);
  height: var(--dialog-height);
  transition-property: right;
  transition-duration: 1s;
}

// .dialog-content > * > * {
//   padding: 0 1rem 0 1rem;
// }

.hidden-right {
  right: calc(var(--dialog-width) * -1);
}

.unhidden {
  right: 0;
}

.hidden-left {
  right: var(--dialog-width);
}

.hidden {
  display: none;
}

image-cropper {
  width: unset;
}

.w-90 {
  width: 90%;
}
